@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

html {
	--bg: #efefef;
	--fg: #1e1e1e;
	--gray: #555;
	--light-gray: #ccc;
	--shadow: #e6e6e6;
	--success: rgb(90, 206, 132);
	--primary: #ff585d;
	--secondary: #0072ce;

	background: #292929;
	color: var(--fg);
	font-family: "Grandstander", cursive;
	font-size: calc(0.9em + 0.5vw);
	line-height: 1.3;
}

body {
	margin: 0;
	padding: 1em;
}

body * {
	color: #fff;
	font-family: Grandstander, sans-serif;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 1.5px;
	text-shadow: 1px 1px 2px #000;
	font-size: 1.15rem;
	text-align: center;
	transition: all 0.25s;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.avatar-select {
	display: flex;
	flex-direction: row-reverse;
}

h1 {
	margin-top: 0;
	text-align: center;
	font-weight: normal;
	font-size: 2rem;
	text-shadow: 0 0 12px #4d84b9;
}

h1 * {
	margin-top: 0;
	text-align: center;
	font-weight: normal;
	font-size: 2rem;
	text-shadow: 0 0 12px #4d84b9;
}

h1 span {
	text-decoration: line-through;
}

.accountId {
	font-size: 0.5em;
	display: block;
}

hr {
	margin-bottom: 2rem;
}

ul.user-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

ul.user-list li {
	display: flex;
	width: 100%;
	height: 140px;
	margin: 0 15px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 5px #000);
	padding: 0;
	position: relative;
	background-color: #191919;
	margin-bottom: 1rem;
}

ul.user-list li:hover {
	background-color: #111;
}

.vote span {
	font-size: 1.5rem;
}

.vote[disabled] * {
	opacity: 0;
}

.vote[disabled] {
	width: 40px;
	height: 40px;
	padding: 0;
	margin-right: 1.6rem;
	border-radius: 50%;
	animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.ribbon {
	display: none !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px !important;
	border-bottom-right-radius: 10px;
}

ul.user-list li.premium {
	border-radius: 4px;
	filter: drop-shadow(0px 0px 5px #8f7b10);
}

.premium .ribbon {
	display: flex !important;
}

.ribbon span {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	color: #8f7b10;
	font-weight: bold;
}

ul.user-list li > div {
	width: 100%;
	overflow: hidden;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
}

ul.user-list li > div * {
	text-align: left !important;
}

ul.user-list li > div small {
	margin-bottom: 0.15rem;
	margin-top: 0.15rem;
}

ul.user-list li .rank {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: normal;
}

ul.user-list li .rank {
	font-size: 2rem;
	font-weight: bold;
	width: auto;
	margin-left: 1rem;
}

ul.user-list li img {
	width: 100px;
	height: 100px;
	margin: 10px;
	margin-right: 20px;
}

ul.user-list li button {
	margin-right: 1rem;
}

ul.user-list li strong {
	color: #ccc;
	font-size: 1.25em;
	white-space: nowrap;
	text-overflow: clip;
	width: 100%;
	text-align: center;
}

ul.user-list li small {
	color: #999;
	font-size: 0.75em;
	white-space: nowrap;
	text-overflow: clip;
	width: 100%;
	text-align: center;
}

.header {
	padding: 1rem;
	text-align: center;
	font-size: 4em;
}

p {
	color: #888;
	text-align: center;
}

a,
.link {
	color: var(--primary);
	text-decoration: none;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
	text-decoration: underline;
}
a:active,
.link:active {
	color: var(--secondary);
}

#avatar-container {
	width: 150px;
	height: 150px;
	margin-bottom: 1rem;
	filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 10px black);
}

#refresh-avatar {
	fill: #fff;
	padding: 3px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}

button,
input {
	font: inherit;
	outline: none;
}

button {
	background-color: #181818;
	border-radius: 5px;
	border: none;
	color: #efefef;
	cursor: pointer;
	padding: 0.3em 0.75em;
	transition: transform 30ms;
	justify-content: center;
	width: 100%;
}
button:hover,
button:focus {
	filter: drop-shadow(0px 0px 5px #444) drop-shadow(0px 0px 10px #444);
}
button:active {
	filter: drop-shadow(0px 0px 5px #444) drop-shadow(0px 0px 10px #444);
}
button.link {
	background: none;
	border: none;
	box-shadow: none;
	display: inline;
}
[disabled] button,
button[disabled] {
	box-shadow: none;
	background-color: var(--light-gray);
	color: gray;
	cursor: not-allowed;
	transform: none;
}
[disabled] button {
	text-indent: -900em;
	width: 2em;
	position: relative;
}
[disabled] button:after {
	content: " ";
	display: block;
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	border: 2px solid #fff;
	border-color: var(--fg) transparent var(--fg) transparent;
	animation: loader 1.2s linear infinite;
	position: absolute;
	top: 0.45em;
	right: 0.5em;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

fieldset {
	border: none;
	padding: 2em 0;
}

input {
	background-color: var(--shadow);
	border: none;
	border-radius: 5px 0 0 5px;
	caret-color: var(--primary);
	color: inherit;
	padding: 0.25em 1em;
	width: 100%;
	border-radius: 5px;
	background: #222;
	border: 3px dashed #333;
	padding-top: 10px;
}
input::selection {
	background-color: var(--secondary);
	color: #efefef;
}
input:focus {
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

code {
	color: var(--gray);
}

li {
	padding-bottom: 1em;
}

.box {
	box-shadow: 0 0 5px #000;
	background: #222;
	max-width: 800px;
	padding: 1.5rem 1rem;
	margin: 1rem auto 0;
	border-radius: 3px;
	position: relative;
}

strong {
	color: #bbb;
	font-weight: 400;
}

.sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.sections > div {
	width: 500px;
	margin: 0 1rem 2rem 1rem;
}

#new-candidate-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 50px;
	height: 50px;
	fill: #0c79cf;
	cursor: pointer;
}

#new-candidate-button:hover {
	filter: drop-shadow(0px 0px 5px #111) drop-shadow(0px 0px 10px #111);
}

#new-candidate-popup {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
	z-index: 1;
}

#new-candidate-popup > div {
	display: flex;
	position: fixed;
	top: 3rem;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	z-index: 2;
	flex-direction: column;
}

#close-new-candidate-popup {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 50px;
	height: 50px;
	fill: #555;
	cursor: pointer;
	background: #292929;
	padding: 0.25rem;
	border-radius: 50%;
}

#close-new-candidate-popup:hover {
	filter: drop-shadow(0px 0px 5px #111) drop-shadow(0px 0px 10px #111);
}

.loading {
	animation: spin 4s linear infinite;
	width: 35px;
	height: 35px;
	fill: #666;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.candidate {
	display: flex;
	border-bottom: 1px solid #333;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	justify-content: space-between;
	align-items: center;
}

.candidate:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.candidate img {
	width: 80px;
	height: 80px;
}

.candidate .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	overflow: hidden;
}

.candidate .details strong {
	color: #ddd;
}

.candidate .details span {
	color: #888;
}

.candidate button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-top: 0.25rem;
	padding: 0.35rem;
	fill: #999;
	margin-bottom: 0;
}

.candidate button.vote {
	fill: rgb(115, 171, 223);
}

.candidate button.kill {
	fill: #ff585d;
}

.candidate button.revive {
	fill: #fff;
}

#save-new-candidate {
	width: 100% !important;
}

.candidate.dead button.kill {
	display: none;
}

.candidate.alive button.revive {
	display: none;
}

.vote {
	display: flex;
	border-bottom: 1px solid #333;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	justify-content: space-between;
	align-items: center;
}

.vote:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.vote .icon {
	width: 40px;
	fill: #73aadf;
	height: 40px;
}

.vote .details {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.vote span {
	font-size: 1rem;
	color: #999999;
}

.vote strong {
	color: #ddd;
}

.log {
	border-bottom: 1px solid #333;
	margin-bottom: 0.75rem;
	padding-bottom: 0.25rem;
	font-size: 0.75rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.log:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.log span {
	font-size: 0.75rem;
	color: #999999;
	text-align: left;
}

.log strong {
	font-size: 0.75rem;
	color: #ddd;
	text-align: left;
}

.modes {
	display: flex;
	margin-top: 1rem;
	justify-content: space-evenly;
}

.modes button {
	width: 150px;
	height: 150px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modes img {
	height: 100%;
	width: 100%;
}

#snowfall-element {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

#response {
	width: 100%;
	margin: 0;
	justify-content: flex-start;
	display: flex;
	align-items: flex-start;
	padding: 0.75rem 1rem;
	flex-direction: column;
}

#response span {
	color: #999;
	text-align: left;
	line-height: 1.25rem;
	margin-bottom: 0.75rem;
}

#response.error {
	box-shadow: 0 0 5px rgb(255 0 0);
	background: rgb(255 88 93 / 5%);
}

#response.error span {
	color: #ff8080;
}

#response.success {
	box-shadow: 0 0 5px green;
	background: rgb(88 255 124 / 5%);
}

#response.success span {
	color: #99ff80;
}

.shake {
	animation-name: shake;
	animation-duration: 500ms;
}

@-webkit-keyframes shake {
	0% {
		-webkit-transform: translate(2px, 1px) rotate(0deg);
	}
	10% {
		-webkit-transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		-webkit-transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		-webkit-transform: translate(0px, 2px) rotate(0deg);
	}
	40% {
		-webkit-transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		-webkit-transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		-webkit-transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		-webkit-transform: translate(2px, 1px) rotate(-1deg);
	}
	80% {
		-webkit-transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		-webkit-transform: translate(2px, 2px) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(1px, -2px) rotate(-1deg);
	}
}

#board {
	width: 300px;
	height: 300px;
	background-color: #111;
}

#board > div {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	border: 1px solid #555;
	font-size: 3rem;
	padding-top: 17px;
}

#board > .empty {
	cursor: pointer;
}

#board > .lost {
	opacity: 0.25;
}

#board > .won {
	animation: shake 1s infinite;
}

#message {
	margin-bottom: 1rem;
}

#start-new-game {
	margin-top: 1rem;
	padding-top: 0.5rem;
	width: 300px;
}
